<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="Denominación" [(ngModel)]="categoriaanimal.denominacion">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Tamaño" [(ngModel)]="categoriaanimal.tamanio">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Precio" [(ngModel)]="categoriaanimal.precio">
  </mat-form-field>
  
  
</div>

<button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
<button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>