<div class="example-container">
  
    <mat-form-field>
      <input matInput required placeholder="especie" [(ngModel)]="animal.especie">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput required placeholder="sexo" [(ngModel)]="animal.sexo">
    </mat-form-field>

    <mat-form-field class="obs">
      <input matInput required placeholder="descripcion" [(ngModel)]="animal.descripcion">
    </mat-form-field>

    <mat-form-field>
      <input matInput required type="number" placeholder="cantidad" [(ngModel)]="animal.cantidadanimal">
    </mat-form-field>

    <div hidden="true">
        <mat-form-field>
            <input matInput required type="number" disabled placeholder="estado" [(ngModel)]="animal.estado">
          </mat-form-field>
    </div>

    <mat-form-field>
      <input matInput required [matDatepicker]="picker1" placeholder="Fecha de ingreso" [(ngModel)]="animal.fingresoanimal">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <form [formGroup]="form" (ngSubmit)="operar()">

        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Cliente" required aria-label="Assignee" matInput [formControl]="cliente"
              [matAutocomplete]="auto">
            <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [(value)]="option">
                {{option.apellidosynombres}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
   </form>

   <form [formGroup]="form1" (ngSubmit)="operar()">
      <mat-form-field class="example-full-width">
          <input type="text" placeholder="Categoria del animal" required aria-label="Assignee" matInput [formControl]="categoria"
            [matAutocomplete]="auto1">
          <mat-autocomplete (optionSelected)="onSelectionChanged1($event)" #auto1="matAutocomplete"
            [displayWith]="displayFn1">
            <mat-option *ngFor="let option of filteredOptions1 | async" [(value)]="option">
              {{option.denominacion}} - {{option.tamanio}} - {{option.precio}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
   </form>
      
  </div>
  
  <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
  <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>