<mat-toolbar>REGISTRO DE ANIMALES</mat-toolbar>
<router-outlet></router-outlet>
<div class="example-container mat-elevation-z8" style="margin: 25px;">

  <div style="display: block">
    <mat-form-field class="filtro" appearance="outline">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="filterEntity.descripcion">
    </mat-form-field>

    <mat-form-field class="filtro" appearance="outline">
      <mat-label>especie</mat-label>
      <input matInput [(ngModel)]="filterEntity.especie">
    </mat-form-field>

   
    <mat-form-field class="filtro" appearance="outline">
        <mat-label>Fecha de ingreso</mat-label>
        <input matInput [(ngModel)]="filterEntity.fingresoanimal">
      </mat-form-field>

      <mat-form-field class="filtro" appearance="outline">
        <mat-label>Ciente</mat-label>
        <input matInput [(ngModel)]="filterEntity.cliente.apellidosynombres">
      </mat-form-field>

      <mat-form-field class="filtro" appearance="outline">
        <mat-label>Categoría</mat-label>
        <input matInput [(ngModel)]="filterEntity.categoriaanimal.denominacion">
      </mat-form-field>

  </div>

  <mat-table matTableFilter [exampleEntity]="filterEntity" [filterType]="filterType" [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="especie">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Especie</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.especie}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cantidadanimal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cant.</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cantidadanimal}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Categoria">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.categoriaanimal.denominacion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellidosynombres">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.cliente.apellidosynombres}} </mat-cell>
          </ng-container>

    <ng-container matColumnDef="fingresoanimal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de ingreso</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fingresoanimal}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab color="accent" (click)="openDialog(animal)" style="float: right; margin-right: 20px">
  <mat-icon>create</mat-icon>
</button>
<div style="padding: 50px;"></div>

