<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="DNI" [(ngModel)]="cliente.dni">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Apellidos y nombres" [(ngModel)]="cliente.apellidosynombres">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Edad" [(ngModel)]="cliente.edad">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Dirección" [(ngModel)]="cliente.direccion">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Teléfono" [(ngModel)]="cliente.telefono">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Sexo" [(ngModel)]="cliente.sexo">
  </mat-form-field>
  
  
</div>

<button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
<button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>