<router-outlet></router-outlet>



<mat-tab-group>

  <mat-tab label="Comprobante general">
    <div class="row" style="width: 100%;">
        <div style="margin: 25px;">
            <mat-form-field style=" float: right;">
              <input matInput required [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="fechaSeleccionada">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          
            <mat-form-field style="padding-left: 15px;">
              <input matInput placeholder="Número de recibo" disabled required [(ngModel)]="numerocomprobanteu" type="number">
            </mat-form-field>
          </div>
      <div class="col-sm-5 col-xs-12" style="padding-top: 15px;">

        <form class="example-container" [formGroup]="form" (ngSubmit)="operar()">
          <div hidden="true">
            <mat-form-field>
              <input matInput placeholder="id" formControlName="idcomprobante">
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Cliente" required aria-label="Assignee" matInput [formControl]="cliente"
              [matAutocomplete]="auto">
            <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto="matAutocomplete"
              [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [(value)]="option">
                {{option.apellidosynombres}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field style="width: 50%;">
            <input matInput placeholder="ruc" formControlName="ruc" type="text">
          </mat-form-field>

          <div>
            <mat-form-field style="width: 50%;">
              <input matInput placeholder="Otros" formControlName="descripcionotros" type="text">
            </mat-form-field>

            <mat-form-field style="width: 30%; padding-left: 15px;">
              <input matInput placeholder="Cantidad otros" formControlName="otros" type="number">
            </mat-form-field>
          </div>


        </form>
      </div>



      <div class="col-sm-7 col-xs-12" style="padding-top: 15px; background-color: beige;">

        <div class="example-container1">

          <mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="especie">
              <mat-header-cell *matHeaderCellDef> Especie </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.especie}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cantidadanimal">
              <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.cantidadanimal}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
            </ng-container>

            <ng-container  matColumnDef="Categoria">
              <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.categoriaanimal.denominacion}} - {{row.categoriaanimal.tamanio}} -
                S/{{row.categoriaanimal.precio}} </mat-cell>
            </ng-container>

            <ng-container class="agregar" matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef>Agregar</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-button color="primary" (click)="addanimal(row)">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        </div>

        <div style="padding-top: 25px;">

          <mat-form-field style="padding-left: 25px; width: 60%;">
            <input matInput placeholder="Animal seleccionado" disabled required
              [(ngModel)]="animalSeleccionado.especie">
          </mat-form-field>

          <form class="example" [formGroup]="form3">
            <mat-form-field style="padding-left: 25px;">
              <input matInput placeholder="Cantidad" formControlName="cantidaddetalle" required type="number">
            </mat-form-field>
            <button style="float:right;margin-right: 15px;" mat-raised-button color="primary" (click)="agregar()"
              [disabled]="estadoBotonAgregar()">Agregar</button>
          </form>
        </div>

        <div>



        </div>

      </div>

    </div>




    <div class="example-container" style="margin-top: 25px;">

      <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

        <ng-container matColumnDef="cantidaddetalle">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.cantidad}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="denominacionexamen">
          <th mat-header-cell *matHeaderCellDef> Animal </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.animal.especie}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="precioexamen">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.animal.categoriaanimal.precio | currency: 'S/.' }}
          </td>
          <td mat-footer-cell *matFooterCellDef> Total S/. </td>
        </ng-container>

        <ng-container matColumnDef="importedetalle">
          <th mat-header-cell *matHeaderCellDef> Importe </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.importe | currency: 'S/.'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency: 'S/.'}} </td>
        </ng-container>


        <ng-container class="eliminar" matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let transaction">
            <button mat-button color="warn" (click)="eliminar(transaction)">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef>
              <form class="example" [formGroup]="form2">
                  <mat-form-field >
                    <input matInput placeholder="Monto a cancelar" formControlName="cancelado" type="number">
                  </mat-form-field>
                </form>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns1"></tr>

      </table>

    </div>
 
    <div style="margin: 15px">
      <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Terminar</button>
      <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
      <button style="float:right;margin-right: 15px;" mat-raised-button color="accent" (click)="pdf()">Imprimir</button>

    </div>


    <div style="padding: 25px; padding-top: 50px;">
        <ngx-extended-pdf-viewer *ngIf="cp!=''" [src]="cp" useBrowserLocale="false" height="80vh">
        </ngx-extended-pdf-viewer>
        <link rel="cp" type="application/110n" href="https://www.example.com/locale/locale.properties" />
      </div>
    <div style="padding: 25px;"></div>
  </mat-tab>

  <mat-tab label="Boletas">




      <div class="proveedor-container mat-elevation-z8" >

          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar recibo">
            </mat-form-field>
          </div>
        
          <mat-table [dataSource]="dataSource2" matSort>
        
            <ng-container matColumnDef="apellidosynombres" style="border: 1px solid gray;">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.cliente}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="numerocomprobante" style="border: 1px solid gray;">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nº de recibo </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.numerocomprobante}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="fecha" style="border: 1px solid gray;">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.fecha}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="deuda" style="border: 1px solid gray;">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Deuda </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.deuda}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="acciones" style="border: 1px solid gray;">
              <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row">        
                <button mat-button color="primary" href="#myModal" data-toggle="modal" (click)="seleccionar(row)">
                  <mat-icon>monetization_on</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
        
            <mat-header-row style="border: 1px solid gray;" *matHeaderRowDef="displayedColumns2"></mat-header-row>
            <mat-row style="border: 1px solid gray;" *matRowDef="let row; columns: displayedColumns2;">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        
        </div>










  </mat-tab>

  <mat-tab label="Reporte de clientes">

      <Form class="example-container" [formGroup]="formb">
          <mat-form-field class="example-full-width" style="padding-top: 25px;width: 50%;">
              <input type="text" placeholder="Cliente" required aria-label="Assignee" matInput [formControl]="cliente"
                [matAutocomplete]="auto1">
              <mat-autocomplete (optionSelected)="onSelectionChanged1($event)" #auto1="matAutocomplete"
                [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [(value)]="option">
                  {{option.apellidosynombres}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
    

            <button style="float:right;margin: 25px;" mat-raised-button color="primary" (click)="pdf2()">Aceptar</button>
            <div style="padding: 25px; padding-top: 50px;">
                <ngx-extended-pdf-viewer *ngIf="his!=''" [src]="his" useBrowserLocale="false" height="80vh">
                </ngx-extended-pdf-viewer>
                <link rel="his" type="application/110n" href="https://www.example.com/locale/locale.properties" />
              </div>
        </Form>



  </mat-tab>
  
  <mat-tab label="Reporte de servicios">
      <div>
          <mat-form-field style="padding: 25px;">
            <input matInput [matDatepicker]="picker3" placeholder="Fecha del inicio" [(ngModel)]="fechaSeleccionada3">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field style="padding: 25px;">
            <input matInput [matDatepicker]="picker4" placeholder="Fecha del fin" [(ngModel)]="fechaSeleccionada4">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
    
          <button mat-button color="primary" (click)="pdfAtencion()">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </div>


      <div style="padding: 25px;">
          <ngx-extended-pdf-viewer *ngIf="at!=''" [src]="at" useBrowserLocale="false" height="80vh">
          </ngx-extended-pdf-viewer>
          <link rel="at" type="application/110n" href="https://www.example.com/locale/locale.properties" />
        </div>
  </mat-tab>
  

</mat-tab-group>



<div>
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="icon-box">
              <i class="material-icons">&#xE5CD;</i>
            </div>				
            <h4 class="modal-title">¿Está seguro?</h4>	
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>¿Realmente está seguro de cancelar el recibo seleccionado?, ésta acción no puede anularse.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelarrecibo()">Pagar</button>
          </div>
        </div>
      </div>
    </div>  
  </div>