<body>
  

  <div class="text-wrapper">
    <div class="title" data-content="404">
        403
    </div>
  
    <div class="subtitle">
        No tiene los permisos necesarios para ingresar a esta página
    </div>
  
    <div class="buttons">
        <a class="button" routerLink="/pedido">Volver a la página de inicio</a>
    </div>
  </div>
  </body>