<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="Descripción" [(ngModel)]="categoriaproducto.descripcion">
  </mat-form-field>
  
</div>

<button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
<button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>