<mat-toolbar>Productos</mat-toolbar>
<router-outlet></router-outlet>
<mat-tab-group>

    <mat-tab label="Registro"> 
        <div class="example-container mat-elevation-z8">

            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Producto">
              </mat-form-field>
            </div>
          
            <mat-table [dataSource]="dataSource" matSort>
          
              <ng-container matColumnDef="idproducto">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.idproducto}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="nombreproducto">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let row"> <h6 style="margin-right: 10px;">{{row.nombreproducto}}</h6> </mat-cell>
              </ng-container>
                   
              <ng-container matColumnDef="cantidadproducto">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.cantidadproducto}} </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="unidadproducto">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.unidadproducto}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="pingresoproducto">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Precio de ingreso </mat-header-cell>
                <mat-cell *matCellDef="let row"> <h6>{{row.pingresoproducto}}</h6> </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="marcaproducto">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Marca </mat-header-cell>
                <mat-cell *matCellDef="let row"> <h6>{{row.marcaproducto}}</h6> </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="fingresoproducto">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de ingreso </mat-header-cell>
                <mat-cell *matCellDef="let row"> <h6>{{row.fingresoproducto}}</h6> </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="proveedor">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </mat-header-cell>
                <mat-cell style="text-size-adjust: 2px;" *matCellDef="let row"> <h6>{{row.proveedor.razonsocialproveedor}}</h6> </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="categoriaproducto">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </mat-header-cell>
                <mat-cell *matCellDef="let row"> <h6>{{row.categoriaproducto.descripcion}}</h6> </mat-cell>
              </ng-container>
                   
              <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                <mat-cell *matCellDef="let row">        
                  <button mat-button color="primary" (click)="openDialog(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          
          <br>
          
          <button mat-fab color="accent" (click)="openDialog(row)" style="float: right; margin-right: 20px">
            <mat-icon>create</mat-icon>
          </button>
          
          <div style="padding: 50px;"></div>
          
    </mat-tab>


    <mat-tab label="Reportes"> 
                  
    </mat-tab>

  </mat-tab-group>













