<div class="example-container">
  <mat-form-field class="obs">
    <input matInput required placeholder="Nombre" [(ngModel)]="producto.nombreproducto">
  </mat-form-field>

  <mat-form-field>
    <input matInput required type="number" placeholder="Cantidad" [(ngModel)]="producto.cantidadproducto">
  </mat-form-field>

  <mat-form-field>
    <input matInput required placeholder="Unidad" [(ngModel)]="producto.unidadproducto">
  </mat-form-field>

  <mat-form-field>
    <input matInput required placeholder="Precio de ingreso" [(ngModel)]="producto.pingresoproducto">
  </mat-form-field>

  <mat-form-field>
    <input matInput required placeholder="Marca" [(ngModel)]="producto.marcaproducto">
  </mat-form-field>

  <mat-form-field>
    <input matInput required [matDatepicker]="picker1" placeholder="Fecha de ingreso" [(ngModel)]="producto.fingresoproducto">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

   <mat-form-field>
    <mat-select required placeholder="Proveedor" [(value)]="idProveedorSeleccionado">
      <mat-option *ngFor="let p of proveedores" [value]="p.idproveedor">
        {{ p.razonsocialproveedor }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    
  <mat-form-field>
    <mat-select required placeholder="Categoría" [(value)]="idCategoriaSeleccionado">
      <mat-option *ngFor="let p of categorias" [value]="p.idcategoria">
        {{ p.descripcion }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
</div>

<button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
<button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>