<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="razonsocial" [(ngModel)]="proveedor.razonsocialproveedor">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="descripcion" [(ngModel)]="proveedor.descripcionproveedor">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="telefono" [(ngModel)]="proveedor.telefonoproveedor">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="direccion" [(ngModel)]="proveedor.direccionproveedor">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="correo" [(ngModel)]="proveedor.correoproveedor">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="ruc" [(ngModel)]="proveedor.rucproveedor">
  </mat-form-field>
   
</div>

<button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
<button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>